# --------------ENV ENUM-------------
ENV=

# ------------Main DB Info-----------
MAIN_DB_HOST=
MAIN_DB_PORT=
MAIN_DB_NAME=
MAIN_DB_USER=
MAIN_DB_PASSWORD=

# ------------Backup DB Info-----------
DEFAUTL_BACKUP_DB_HOST=
DEFAUTL_BACKUP_DB_PORT=
DEFAUTL_BACKUP_DB_USER=
DEFAUTL_BACKUP_DB_PASSWORD=

# ------------Meta Data DB-----------
META_DB_HOST=
META_DB_PORT=
META_DB_NAME=
META_DB_USER=
META_DB_PASSWORD=

# ---------------------------
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BACKUP_BUCKET_NAME=
AWS_S3_REGION_NAME=

# ------------Media-----------
BACKUP_DUMP_DIR=
